# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.custom_gemini
# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Deployment
Dockerfile
docker-compose.yml
.dockerignore

